---
layout: home
title: 30-Day Map Challenge
---

<p>Entries into the <a href="https://30daymapchallenge.com/">#30DayMapChallenge</a> from the Masters of Urban Spatial
Analytics program at the University of Pennsylvania's Weitzman School of
Design</p>

<section class="maps-year" id="maps-2024">
  <header class="year-label">2024</header>
  {% include thumbnail_grid.html maps=site.maps_2024 %}
</section>

<section class="maps-year" id="maps-2023">
  <header class="year-label">2023</header>
  {% include thumbnail_grid.html maps=site.maps_2023 %}
</section>