---
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ site.data.settings.description }}">
    <meta rel="author" href="{{ site.data.settings.author }}">
    <title>
      {% if page.title == "Home" %}
        {{ site.title }}
      {% else %}
        {{ page.title }} | {{ site.title }}
      {% endif %}
    </title>

    <!-- Fonts from Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;800&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{ '/assets/css/styles.css' | relative_url }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <div class="site-container">
      {% include header.html %}
      {{ content }}
      {% include footer.html %}
    </div>
    <script src="{{ '/assets/js/scripts.js' | relative_url }}" type="module"></script>
  </body>
</html>
